.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border: 10px ridge blue;
   background-color: tomato;

}

h1{
background-color: chartreuse;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}


